*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(143, 175, 175,0.5); */
    /* background: #39468a; */
    background-color: #fff;
    background-image: linear-gradient(-90deg,#ff6596,#79accc,#d88cff);
    background-size: 600% 600%;
    animation: animate 8s infinite linear;
    text-align: center;
  }

  @keyframes animate {
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0 85%;
    }
  }

  
h1{
text-decoration: underline;
font-size: 10vmin;
color: rgb(245, 240, 237);
animation: animate 8s infinite linear;
}

/* Game Css */
.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    /* position: relative; */
    height: 68vmin;
    border:0.2rem solid rgb(12, 12, 12);
    border-radius: 0.6rem;
    width: 61vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    animation: animate 8s infinite linear;
    /* background-color:rgb(146, 142, 142) */
} 

.box{
    height: 17vmin;
    width: 17vmin;
    background-color: white;
    color: rgb(109, 60, 31);
    font-size: 13vmin;
    padding: 0.3rem;
   border: 0.1rem solid rgb(70, 43, 43);
   border-radius: 1rem;
    cursor: pointer;
}
.box:hover {
  transform: translateY(-2px);
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 1);
}

.reset{
    padding: 0.6rem;
    font-size: 2rem;
    border-radius: 1.2rem;
    cursor: pointer;
}



/*   POP-up Message css */
.startBtn{
    padding: 1rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    border-radius: 1.8rem;
    cursor: pointer;
}
.msg{
    font-size: 8vmin;
}

.winmsg-cont{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    background: rgba(250, 246, 246, 0.7);
}
.hide{
    display: flex;
    align-items: centre;
    justify-content: center;   
}

.pop{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgb(8, 8, 8,0.8);
    background: #f1eded;
    padding: 3vmin;
    width: 110vmin;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
